body {
  font-family: Poppins, Arial;
  margin: 0;
  background: #faf5ff;
  text-align: center;
}

header {
  background: #c8a2c8;
  padding: 20px;
  color: white;
}

nav {
  background: #f1e6f6;
  padding: 10px;
}

nav a {
  margin: 10px;
  text-decoration: none;
  color: #6a1b9a;
  font-weight: bold;
}

.hero {
  padding: 30px;
}

.btn {
  display: inline-block;
  margin: 10px;
  padding: 12px 20px;
  background: #9c27b0;
  color: white;
  text-decoration: none;
  border-radius: 25px;
}

.whatsapp {
  background: #25d366;
}

footer {
  background: #eee;
  padding: 15px;
  margin-top: 30px;
}
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product {
  background: white;
  width: 220px;
  margin: 15px;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.product img {
  width: 100%;
  border-radius: 10px;
}
.product img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
}

.product button {
  background: #9c27b0;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
}
